.shopHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px 0;
}

.shopTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 20px;
  font-size: 35px;
  font-weight: 800;
}
